.profile-stats {
  padding-left: 32px;
  padding-right: 32px;
}

.column-profile {
  background-color: $light-gray;
  padding: 64px;
}

.column-stats {
  padding: 64px;
  border-left: solid 1px $light-gray;
}
