<div class="container">
    <h1>Mes réservations</h1>
    <ul>
        <% @bookings.each do |booking| %>
            <li><%= booking.date  %>- <%= booking.coworking.name %> </li>
        <% end %>
    </ul>   
</div>