<div class="banner" >
  <div class="container">
    <h1>Trouvez un coworking<br>près de chez vous !</h1>
    <p>Sélectionnez un bureau et réservez, tout simplement !</p>
    <div type="button" class="btn btn-primary" style="margin-top: 32px ;">
      <%= link_to 'Réservez votre place', coworkings_path, :class => "btn"%>
    </div>
  </div>
</div>

