<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!--————————— Test d'affichages à supprimer —————————-->
<br>
<p> 🤓 Zone de test d'affichages à supprimer </p>
<p> ⬇︎ </p>
<br>

<% User.all.each do |user| %>
  <p><small><strong><%= user.first_name %></strong> <%= user.job_title %></small></p>
  <%= image_tag current_user.avatar, width: 80 %>
<% end %>
