<div class="container-fluid">
  <div class="row">

    <div class="col-12 col-lg-6">

      <div class="row coworkings-list">

        <div class="row coworking-fields">
          <div class="col-12 col-lg-12">
            <form action="#" class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="date" class="form-control" id="input" data-provide="datepicker">
                </div>
              </div>
            </form>
          </div>
        </div>

        <% @coworkings.each do |coworking| %>
          <div class="coworking-card">
            <%= cl_image_tag(coworking.photos.first.key)%>
            <div>
              <h2><%= coworking.name %></h2>
              <p><%= coworking.address %></p>
              <small><%= coworking.equipements %></small>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-6 vh-100" style="background-color: lightseagreen;">
      map
    </div>

  </div>
</div>


