.btn-primary {
  font-family: proxima-nova;
  letter-spacing: 0.04rem;
  padding: 6px 20px 6px 20px;
  border-radius: 6px;
  a {
    color: white;
    // font-weight: bold;
    font-size: 18px;
  }
  a:hover {
    color: white;
  }
}

.disabled {
    color: #A9A9A9;
    border-color: #A9A9A9;
    background-color: white;
}

.btn-primary.btn-book {
  font-size: 20px;
  padding: 10px 32px 10px 32px;
}

