.chips {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-gap: 16px;
  grid-auto-flow: dense;
  list-style: none;
  margin: 1em auto;
  padding: 0;
  // max-width: 800px;
}
.chips li {
  border: 1px solid #ccc;
  // border-radius: 50px;
  // padding: 8px 16px 8px 16px;
}
.chips li.landscape {
  grid-column-end: span 2;
}
.chips li img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

// https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Grid_Layout/Auto-placement_in_CSS_Grid_Layout#les_cas_dutilisation_pour_le_placement_automatique
