.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  font-size: 38px;
  font-family: basier_circlebold;
}

.navbar {
  height: 130px;
  padding: 0 100px 0 100px;
  .nav-link {
    font-family: basier_circleregular;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-right: 32px;
  }
}

